{% extends 'security/institutionaltype/form.twig' %}
{% set btn_acao = 'Criar' %}

{% block form_title %}
<section class="content-header">
    <h1>Institucional Categoria</h1>
</section>
{% endblock form_title %}
