{% extends 'security/institutional/form.twig' %}
{% set btn_acao = 'Criar' %}

{% block form_title %}
<section class="content-header">
    <h1>Categoria: <strong>{{ institutional_type.title }}</strong></h1>
</section>
{% endblock form_title %}
