{% extends 'layout.twig' %}
{% block content %}
	<div class="container">
		<div class="jumbotron text-center" style="margin-top: 20px">
			<h1 class="text-center">
				Silex<strong>CRUD</strong>
			</h1>

			<p>Bem vindo, a versão atual {{ app.composer.version }}!</p>
		</div>
            <p class="text-center">
                Este é um projeto aberto para utilizar como desejar,
                caso tenha algum ajuste ou correção
                <a href="https://github.com/naitzel/silex-crud/issues" target="_blank" rel="noopener noreferrer">clique aqui</a>.
            </p>

	</div>
{% endblock content %}
