{% extends 'security/user/form.twig' %}
{% set btn_acao = 'Criar' %}

{% block form_title %}
<section class="content-header">
    <h1>Adicionar um novo usuário</h1>
</section>
{% endblock form_title %}
