{% extends 'security/bannertype/form.twig' %}
{% set btn_acao = 'Editar' %}

{% block form_title %}
<section class="content-header">
    <h1>Editar Categoria</h1>
</section>
{% endblock form_title %}
